@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Alata', sans-serif;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  color: #858a91;
  display: block;
}
